html(xmlns='http://www.w3.org/1999/xhtml')
head
    title Business Card Manager
    meta(http-equiv='cache-control', content='no-cache', charset='UTF-8')
    script(src='scripts/external/jquery-latest.min.js')
    script(src='scripts/external/bootstrap.min.js')
    script(type='text/javascript', src='scripts/custom/master.js')
    link(href='styles/external/bootstrap.css', rel='stylesheet', media='screen')
  body
  .navbar.navbar-inverse.nav
      .navbar-inner
          .container
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href='/') Business Card
            .nav-collapse.collapse
              ul.nav
                li.divider-vertical
              .pull-right
                ul.nav.pull-right
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                      | Welcome, User
                      b.caret
                    ul.dropdown-menu
                      li
                        a(href='/logout')
                          i.icon-off
                          | Logout
  form#profile-data.form-horizontal(name='profile-data', action='/save',method='post')
    fieldset
      h2 Contact Info
        .control-group
          label.control-label First Name
          .controls
            input#firstName.input-xlarge(name='firstName', type='text', placeholder='first name')
        .control-group
          label.control-label Last Name
          .controls
            input#lastName.input-xlarge(name='lastName', type='text', placeholder='last name')
        .control-group
          label.control-label Company
          .controls
            input#company.input-xlarge(name='company', type='text', placeholder='company')
        .control-group
          label.control-label Designation
          .controls
            input#designation.input-xlarge(name='designation', type='text', placeholder='designation')
        .control-group
          label.control-label Address Line 1
          .controls
            input#addressLine1.input-xlarge(name='addressLine1', type='text', placeholder='address line 1')
        //
           address-line2 input
        .control-group
          label.control-label Address Line 2
          .controls
            input#addressLine2.input-xlarge(name='addressLine2', type='text', placeholder='address line 2')
        //
           city input
        .control-group
          label.control-label City / Town
          .controls
            input#city.input-xlarge(name='city', type='text', placeholder='city')
        //
           region input
        .control-group
          label.control-label State / Province / Region
          .controls
            input#region.input-xlarge(name='region', type='text', placeholder='state / province / region')
        //
           postal-code input
        .control-group
          label.control-label Zip / Postal Code
          .controls
            input#postalCode.input-xlarge(name='postalCode', type='text', placeholder='zip or postal code')
        .control-group
          label.control-label Country
          .controls
            input#country.input-xlarge(name='country', type='text', placeholder='country')
        .control-group
          label.control-label Landline
          .controls
            input#phone.input-xlarge(name='phone', type='text', placeholder='landline number')
        .control-group
          label.control-label Mobile
          .controls
            input#mobile.input-xlarge(name='mobile', type='text', placeholder='mobile')
        #email-error.alert.alert-error(style='font: 16px bold; text-align:center; display: none;')
            | Email is mandatory.
          .control-group
            label.control-label Email
            .controls
              input#email.input-xlarge(name='email', type='text', placeholder='email')
        #password-error.alert.alert-error(style='font: 16px bold; text-align:center; display: none;')
            | Password is mandatory.
          .control-group
            label.control-label Password
            .controls
              input#password.input-xlarge(name='password', type='password', placeholder='password')
        .controls
          button.btn.btn-primary(onclick='javascript:validate(event);') Save
        #qr-code(style='position:absolute; top:300px; left:700px;')
          img(src="images/notfound.jpg")

    script
      var userProfile = {};
      function validate(event) {
      event.preventDefault();
      if($("#email").val().trim() == ""){
              $("div#email-error").show();
              $("#email").focus();
              return;
      }
      if($("#password").val().trim() == ""){
              $("div#password-error").show();
              $("#password").focus();
              return;
      }
      else
        $("#profile-data").submit();
      }
      $(document).ready(function(){
      userProfile = !{user};

      if(userProfile.firstName)
      $("#firstName").val(userProfile.firstName);
      if(userProfile.lastName)
      $("#lastName").val(userProfile.lastName);
      if(userProfile.company)
      $("#company").val(userProfile.company);
      if(userProfile.designation)
      $("#designation").val(userProfile.designation);
      if(userProfile.city)
      $("#city").val(userProfile.city);
      if(userProfile.country)
      $("#country").val(userProfile.country);
      if(userProfile.mobile)
      $("#mobile").val(userProfile.mobile);
      if(userProfile.email)
      $("#email").val(userProfile.email);
      if(userProfile.landLine)
      $("#phone").val(userProfile.phone);
      if(userProfile.password)
      $("#password").val(userProfile.password);
      if(userProfile.addressLine1)
      $("#addressLine1").val(userProfile.addressLine1);
      if(userProfile.addressLine2)
      $("#addressLine2").val(userProfile.addressLine2);
      if(userProfile.postalCode)
      $("#postalCode").val(userProfile.postalCode);
      if(userProfile.region)
      $("#region").val(userProfile.region);
      if(userProfile.imageTag){
      var content = "<a href="+userProfile.imageTag+" download='QRCode'><img src="+userProfile.imageTag+" width='180' height='180'/></a><p style='font: 14px normal Helvetica; text-align:center;'>Click on image to download</p>";
      $('div#qr-code').empty().append(content);
      }
      })